@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
  --text-primary: #171717; /* neutral.900 */
  --text-secondary: #404040; /* neutral.700 */
  --text-tertiary: #525252; /* neutral.600 */
  --text-mute: #737373; /* neutral.500 */

  --bg-primary: #fafafa; /* neutral.50 */
  --bg-secondary: #ededed; /* neutral.150 */
  --bg-tertiary: #e5e5e5; /* neutral.200 */
  --bg-mute: #dedede; /* neutral.250 */

  --color-neutral-0: #ffffff;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-150: #ededed;
  --color-neutral-200: #e5e5e5;
  --color-neutral-250: #dedede;
  --color-neutral-300: #d4d4d4;
  --color-neutral-350: #b5b5b5;
  --color-neutral-400: #a3a3a3;
  --color-neutral-450: #8a8a8a;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-750: #363636;
  --color-neutral-800: #262626;
  --color-neutral-850: #1f1f1f;
  --color-neutral-900: #171717;
  --color-neutral-950: #0d0d0d;
  --color-neutral-1000: #000000;
}

@layer base {
  @variant dark {
    --text-primary: #e5e5e5; /* you had text-neutral-200 */
    --text-secondary: #b5b5b5; /* neutral.350 */
    --text-tertiary: #a3a3a3; /* neutral.400 */
    --text-mute: #808080; /* neutral.470 */

    --bg-primary: #171717; /* neutral.900 */
    --bg-secondary: #262626; /* neutral.800 */
    --bg-tertiary: #363636; /* neutral.750 */
    --bg-mute: #262626; /* neutral.800 again */
  }
}
@layer utilities {
  /* Base prose */
  .prose {
    color: var(--text-secondary);
  }

  .prose strong,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose thead th {
    color: var(--text-primary);
  }

  .fadein {
    opacity: 0.001;
    animation: fade-in 0.75s ease both;
  }

  @keyframes fade-in {
    from {
      opacity: 0.001;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
