@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light .light *));

@theme {
  --text-primary: #171717; /* neutral.900 */
  --text-secondary: #404040; /* neutral.700 */
  --text-tertiary: #525252; /* neutral.600 */
  --text-mute: #737373; /* neutral.500 */

  --bg-primary: #fafafa; /* neutral.50 */
  --bg-secondary: #ededed; /* neutral.150 */
  --bg-tertiary: #e5e5e5; /* neutral.200 */
  --bg-mute: #dedede; /* neutral.250 */

  --color-neutral-0: #ffffff;
  --color-neutral-50: #f8f8f8;
  --color-neutral-100: #f1f1f1;
  --color-neutral-150: #eaeaea;
  --color-neutral-200: #e3e3e3;
  --color-neutral-250: #dcdcdc;
  --color-neutral-300: #d4d4d4;
  --color-neutral-350: #c4c4c4;
  --color-neutral-400: #b3b3b3;
  --color-neutral-450: #a3a3a3;
  --color-neutral-500: #949494;
  --color-neutral-550: #7f7f7f;
  --color-neutral-600: #6b6b6b;
  --color-neutral-650: #575757;
  --color-neutral-700: #444444;
  --color-neutral-750: #333333;
  --color-neutral-800: #222222;
  --color-neutral-850: #161616;
  --color-neutral-900: #0b0b0b;
  --color-neutral-950: #050505;
  --color-neutral-1000: #000000;
}

@layer base {
  body {
    background-color: #f1f1f1;
  }
  @variant dark {
    body {
      background-color: #17212B;
    }
  }
}
@layer utilities {
  /* Base prose */
  .prose {
    color: var(--text-secondary);
  }

  .prose strong,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose thead th {
    color: var(--text-primary);
  }

  .fadein {
    opacity: 0.001;
    animation: fade-in 0.75s ease both;
  }

  @keyframes fade-in {
    from {
      opacity: 0.001;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
