@font-face {
  font-family: 'DS-Digital';
  src: url('/fonts/ds-digital/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DS-Digital';
  src: url('/fonts/ds-digital/DS-DIGIB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DS-Digital';
  src: url('/fonts/ds-digital/DS-DIGII.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DS-Digital';
  src: url('/fonts/ds-digital/DS-DIGIT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 