@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root, html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  --animation-delay-writing: 0.1s;
}

*,
html,
body {
  padding: 0;
  margin: 0;
}

/* Dark Palette Theme #1 */
[data-theme="light"] {
  --bg-primary: #35343d;
  --indicator-primary: #ffdbd8;
}

[data-theme="dark"] {
  --bg-primary: #35343d;
  --indicator-primary: #ffdbd8;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-700;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
