@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --header-position: sticky;
  --content-offset: 0px;
  --header-height: 64px;
  --header-mb: 0px;
  --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
  --avatar-border-transform: translate3d(-0.222222rem, 0, 0) scale(1.77778);
  --avatar-border-opacity: 0;
  --header-top: 0px;
  --avatar-top: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* line-height: 1.6;
  font-size: 18px; */
}