@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* --header-position: sticky;
  --content-offset: 0px;
  --header-height: 64px;
  --header-mb: 0px;
  --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
  --avatar-border-transform: translate3d(-0.222222rem, 0, 0) scale(1.77778);
  --avatar-border-opacity: 0;
  --header-top: 0px;
  --avatar-top: 0px; */
}
*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* line-height: 1.6;
  font-size: 18px; */
}

/* Dark Palette Theme #1 */
[data-theme="light"] {
  --bg-primary: #35343d;
  --indicator-primary: #ffdbd8;
}

[data-theme="dark"] {
  --bg-primary: #35343d;
  --indicator-primary: #ffdbd8;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-700;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
